@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0 auto;
    width: 90%;
    transition: 0.5s;
    scroll-behavior: smooth;
    position: relative;
    font-family: Lexend, Arial, sans-serif;
    overflow-x: hidden;
    background-color: white;
    font-size: 18px;
}

h1 {
    margin-bottom: -25px;
    color: #3042e1;
}

h2 {
    margin-bottom: -20px;
    color: #3042e1;
}

h3 {
    margin-bottom: -20px;
    color: #3042e1;
}

a {
    color: #162dff;  
}

img {
    border-radius: 15px;
}

#navbar a, .submenu a {
    size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #192bd1;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

#navbar a {
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.submenu a {
    margin: 5px !important;
    margin-top: -5px !important;
}

#navbar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#navbar a:hover, .submenu a:hover {
    background-color:white;
    color: black;
}

.dropdown {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    z-index: 1;
}

.submenuItem {
    display: block;
}

@media (max-width: 800px) {
    #info table {
        width: 100%;
    }

    #info td {
        width: 100%;
        display: block;
        margin-bottom: 10px; /* voeg wat ruimte toe tussen de gestapelde tabellen */
    }

    #maps {
        width: 100%;
        display: block;
    }
}

@media (max-width: 600px) {
    .image-slideshow {
        max-width: 100%;
    }
}

.image-slideshow {
  max-width: 500px;
  position: relative;
  margin: auto;
}
.image-slideshow img {
  width: 100%
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}

#facebookIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}

/* CSS styling to arrange image and text side by side */
footer {
    display: flex;
    align-items: baseline;
    padding: 5px;
}

#evzv-logo {
    max-width: 150px; /* Adjust the maximum width of the image as needed */
    margin-right: 10px; /* Optional: add some space between image and text */
    margin-bottom: 0px; /* Optional: add some space between image and text */
}

#evzv-header {
    max-height: 120px; /* Adjust the maximum width of the image as needed */
    margin-right: 10px; /* Optional: add some space between image and text */
    margin-top: 5px; /* Optional: add some space between image and text */
    margin-bottom: 0px; /* Optional: add some space between image and text */
}

@media (max-width: 600px) {
    footer {
        flex-direction: column; /* Change to column layout on small screens */
        align-items: center; /* Center items in the column */
    }
    
    footer img {
        max-width: 100%; /* Set image width to 100% on small screens */
        margin-bottom: 10px; /* Optional: add some space between image and text */
        margin-right: 0; /* Reset margin-right for smaller screens */
    }

    footer p {
        margin-left: 0;
    }
}